/* Mediaqueries */

/* Mobile */
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav_links {
    padding: 28px 0;
  }

  .nav-links li {
    display: inline-block;
    margin: 0 15px;
  }
  .header_logo {
    display: flex;
    justify-content: center;
  }
  .productgrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;
    line-height: 2.3rem;
  }

  .productname {
    display: flex;
    flex-direction: column;
    order: -2;
  }

  .svg {
    object-position: center;
  }
  h1,
  h2 {
    margin: 0 1rem 0 1rem;
  }
}

/* Tablet */
@media (min-width: 699px) {
  .productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    line-height: 3rem;
  }
}
