/* Mediaqueries */

/* Mobile */
@media (max-width: 500px) {
  .productgrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
  }
  .productname {
    display: flex;
    flex-direction: column;
    order: -2;
  }
  /* .nav {
    background-color: #8a8d79;
    color: white;
    font-size: 16px;
    border: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
  } */
  .svg {
    object-position: center;
  }
}

/* Tablet */
@media (min-width: 699px) {
  .productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    /* flex-direction: row; */

    /* position: relative; */
    height: auto;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
  }
  /* .nav {
    padding-right: 2.5rem;
  } */
  ul {
    overflow: hidden;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }

  .nav-bar {
    display: flex;
    /* justify-content: flex-end;
    flex-direction: row; */

    position: relative;
    height: auto;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
  }
  .nav {
    padding-right: 2.5rem;
  }
  ul {
    overflow: hidden;
  }

  h1 {
    padding-left: 0;
  }
  h2 {
    padding: 0 0 1em 0;
  }
}
